/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */

body {
  font-family: "Montserrat";
  padding:0;
  margin:0;
}

.row {
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding: 0;
  margin: 0;
}


h1, h2, h3, h4, h5, h6 {
font-weight: bold;
color: #fff;
margin-bottom: 2rem;
}

h1 {
  color:  #C4B187;
  font-size: 40px;
  font-weight: 900;
}

h2 {
  font-size: 32px;
  line-height: 1.5;
}

p {
  color: #fff;
  font-size: 24px;
}

ul {
  color: #000;
  font-size: 24px;
}

hr {
  margin-top: 20px!important;
  margin-bottom: 24px;
}

/* Title */

#title {
  background-color: #C4B187;
  color: #fff;
}

.intro-area {
  padding: 0;
}

/* .container-fluid {
  padding: 3% 15% 7%;
} */

.title-heading {
  color: #fff;
  font-family: "Dancing Script", sans-serif;
  font-weight: bold;
  font-size: 5rem;
  line-height: 1.5;
  margin-top: 300px;
  margin-right: 75px;
  float: right;
}

.titleDiv {
  height: 118px;
  color: #C4B187;
}

#background-intro {
  width: 100%;
  min-height: 1200px;
  background: url("../img/ma.jpg") no-repeat center center;
  background-size: cover;
}



/* Navigation Bar */

.navbar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 2rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 2rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {

  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: bold;
}


/* Title Image */

/* .title-img {
  position:relative;
  padding: 0;
  width: 100%;
} */


/* Story Section */

#story {
  background-color: #000;
  scroll-margin-top:200px;
}

/* #background-story {
  width: 100%;
  min-height: 1200px;
  background: url("../img/ma.jpg") no-repeat center center;
  background-size: cover;
} */


#ma {
  color: #C4B187;
  font-size: 26px;
  font-weight: bold;
  margin-top: 30px;
}

#story i {
  color: #f0f0f0;
  margin-bottom: 1.5rem;
}

.story-box {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}


/* #features i:hover {
  color: #ff4c68;
} */

/* Agenda */

#agenda {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F2F2F2;
  scroll-margin-top:200px;
}

.background-rest {
  height: auto;
  background: url("../img/background-general.png") no-repeat center center;
  background-size: cover;
}

#agenda i {
  color: #000;
  margin-bottom: 1.5rem;
}

.intro-agenda {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.agenda-core {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.date {
  text-align: center;
}

.dateAgenda {
  color: #000;
  font-weight: bold;
  text-align: center;
}

.time {
  list-style-type: none;
}

.agenda-points {
  list-style: inside;
  padding: 0;
}


/* General Information */

#general-info {
  padding: 100px 50px;
  background-color: #000;
  scroll-margin-top:200px;
}



/* Weather and Activities #ff4c68*/

#activities {
  padding: 100px 50px;
  background-color: #F2F2F2;
  scroll-margin-top:200px;
}

.actStyle {
  color: #000;
}

#moreQuestions {
  color: #000;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

/* Testimonials */

#testimonials {
  padding-top: 100px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #C4B187;
  color: #fff;
  min-height: 850px;
  scroll-margin-top:200px;
}

.carousel-item h1 {
  color: #FFF;
}

.testimonial-img {
  width: 65%;
  margin: 20px;
}


#cta {
  width: 80%;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}


/* Footer */

/* #footer {
  background-color: #fff;
  text-align: center;
  padding: 4% 2.5% 2.5%;
}

.fa-envelope {
  transform: rotate(90deg);
}

#footer>i {
  margin: 0 0.5rem 1rem;
} */

#footer {
  background-color: #000;
  text-align: center;
  padding: 4% 2.5% 2.5%;
  scroll-margin-top:200px;
}
.fa-twitter, .fa-linkedin, .fa-instagram {
  color: white;
}

.fa-envelope {
  color: white;
  transform: rotate(90deg);
}

#footer>a>i {
  margin: 0 0.5rem 1rem;
}
