/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */

body {
  font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6 {
font-weight: bold;
color: #fff;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

p {
  color: #fff;
}

ul {
  color: #fff;
}

/* Title */

#title {
  background-color: #ff4c68;
  color: #fff;
}

.intro-area {
  padding: 0;
}

/* .container-fluid {
  padding: 3% 15% 7%;
} */

.title-heading {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  line-height: 1.5;
  position: absolute;
  top: 300px;
  right: 75px;
  z-index: 1;
}


/* Navigation Bar */

.navbar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 2rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 2rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {

  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* Download Buttons */

.download-btn {
  margin: 5% 3% 5% 0%;
}

/* Title Image */

.title-img {
  position:relative;
  padding: 0;
  width: 100%;
}

/* Story Section */

#background-story {
  height: auto;
  background: url("../img/background-story.png") no-repeat center center;
  background-size: cover;
}

/* #features {
padding: 7% 15%;
background-color: #fff;
position: relative;
} */

.story-box {
  text-align: center;
  padding: 4.5%;
}

#story i {
  color: #f0f0f0;
  margin-bottom: 1.5rem;
}

/* #features i:hover {
  color: #ff4c68;
} */

/* Agenda */

#agenda {
  padding-top: 40px;
  padding-bottom: 40px;
}

.background-rest {
  height: auto;
  background: url("../img/background-general.png") no-repeat center center;
  background-size: cover;
}

#agenda i {
  color: #f0f0f0;
  margin-bottom: 1.5rem;
}

.intro-agenda {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.intro-agenda>h1 {
  font-size: 32px;
}

.agenda-core {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.date {
  text-align: center;
}

.time {
  list-style-type: none;
}

.agenda-points {
  list-style: inside;
}


/* General Information */

#general-info {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Weather and Activities */

#activities {
  padding-top: 40px;
  padding-bottom: 40px;
}


/* Testimonials */

#testimonials {
  padding-top: 40px;
  padding-bottom: 25px;
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}

.testimonial-img {
  width: 30%;
  margin: 20px;
}


#cta {
  width: 80%;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
}


/* Footer */

#footer {
  background-color: #fff;
  text-align: center;
  padding: 4% 2.5% 2.5%;
}

.fa-envelope {
  transform: rotate(90deg);
}

#footer>i {
  margin: 0 0.5rem 1rem;
}
